<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>TutorConnect : Profile</title>

		<%-# Bootstrap! -%>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
		
		<%= stylesheet_link_tag 'dashboard', media: 'all', 'data-turbolinks-track' =>true  %>
	</head>
	<body class = "bg-creme">
		<div class = "container-fullwidth">
			<%= render 'dashboard/components/dash_header.html.erb' %>
		</div>
		<div class = "container">
			<div class="row">
				<div class = "col-12 col-md-4 order-2 order-md-1">
					<div class = "card">
                    	<div class = "shadow">
                    	<div>
                        	<%= link_to image_tag("generic-profile-pic.png", class:"card-img-top"), root_path %>
                    	</div>
                    	<div class = "card-body">
                        	<h5 class= "card title text-center">
                        		<%=@u.username%>
                        	</h5>
                        	<p class="card-text">
                            	<%=@u.bio %>
                        	</p>

                        	<% if @u.is_tutor %>
                            	<h5 class= "card title text-center"> Subjects </h5>
									<% @u.subject.each do |element| %>
										<li><%= element %></li>
									<% end %>
                        	<% end %>
                    	</div>
                	</div>
				</div>
			</div>

			<div class = "col-12 col-md-8 order-1 order-md-2">
				<% if @u.id == current_user.id || (@u.conversation_ids & current_user.conversation_ids).length > 0%>
					<% render 'dashboard/components/chat' %>
				<% else %>
					<div id="recipient_id" value= "<% @u.id %>">
					</div>
					<form class="message" action="/create_message" method="POST">
						<input type="text" name="message" placeholder="New Message To Tutor">
							<button type="Submit" onclick="recipient_info()">Send</button>
					</form>
				<% end %>
				</div>
			</div>

			<h3 class="text-center">Review</h3>
			<p> Add your review here (1-5) </p>
			<form class="form-inline justify-content-center" action="/addreview" method="POST">
				<input class="form-control mr-sm-2" name="r" type="text" placeholder="Add review...">
					<button class="btn btn-outline-success" type="submit">Search</button>
					<% if flash[:error] %>
				<div id="error"><%= flash[:error] %></div>
			<% elsif flash[:success] %>
				<div id="success"><%= flash[:success] %></div>
			<% end %>
			</form>
		</div>
	</body>
</html>
