<header class = "bg-slate border-bottom-0 shadow">

		<nav class="navbar navbar-expand-lg navbar-light">
			<div class = "navbar-brand">
				<%= link_to image_tag("logo2.png"), "/dashboard", class: "img-fluid h-50 bigLogo", media:"(min-width: 800px)" %>
				<%= link_to image_tag("logoSmall.png"), "/dashboard", class: "img-fluid h-50 smallLogo", media:"(max-width: 799px)" %>
			</div>

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">

				<% unless current_user.is_tutor=="false" %>
				<form class="form-inline input-group mx-2-md mx-5 my-1 my-lg-0" action="/search">
					<input class="form-control" name="q" type="text" placeholder="Search subject (ie: math)">
					<div class = "input-group-append">
						<button class="btn btn-outline-success" type="submit">Search</button>
					</div>
				</form>
				<% end %>

				<ul class="navbar-nav my-0 mx-auto">
					<li class="nav-item">
						<%= link_to "<div class=\"btn btn-outline-dark\">Home</div>".html_safe, "/dashboard"%>
						<% session[:tutor_user_id] = nil %>
					</li>
					<li class="nav-item">
						<%= link_to "<div class=\"btn btn-outline-dark\">Settings</div>".html_safe, settings_path%>
					</li>
					<li class="nav-item">
						<%= link_to "<div class=\"btn btn-outline-danger text-truncate\">Log Out</div>".html_safe, logout_path%>
					</li>
						
				</ul>
			</div>
		</nav>
</header>
