<!DOCTYPE html>
<html>
  <head>
    <title>Web8</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'homepage', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'slider_checkbox', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%-# script for fade-%>
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src = "home.js"></script>
    <script>
    $(document).ready(function(){
        $('body').hide();
        $('body').fadeIn(1400);

        $('.landing-container , .contents').hide();
        $('.landing-container , .contents').delay(600).fadeIn(2000);

      });
      $('.message a').click(function(){
        $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
      });
    </script>
    <%-# To exclude header from landing page, login page, and register page -%>
    <% unless action_name == "landing" || action_name == "login" || action_name == "register" %>
       <%= render 'layouts/header' %>
    <% end %>
  </head>
  <body>
    <%= yield %>
    <%-# To exclude footer from landing page, login page, and register page  -%>
    <% unless action_name == "landing" %>
       <%= render 'layouts/footer' %>
    <% end %>
  </body>
</html>
