<!DOCTYPE html>
<html>
  <head>
    <title>Web8</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'homepage', media: 'all', 'data-turbolinks-track': 'reload' %>
    <% unless action_name == "landing" %>
       <%= render 'layouts/header' %>
    <% end %>
  </head>
  <body>
    <%= yield %>
    <% unless action_name == "landing" %>
       <%= render 'layouts/footer' %>
    <% end %>
  </body>
</html>
