<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>TutorConnect : Settings</title>
    <%= stylesheet_link_tag "pre_index_tutor.css" %>
  </head>
  <body>
    <div class = "actions">
      <%= link_to "Edit Profile", edit_user_path(current_user) %>
      <%= link_to "Homepage", '/dashboard' %>
      <%= link_to "Show Profile", user_path(current_user) %>
      <%= link_to "Delete Profile", delete_path(current_user) %>
    </div>
  </body>
</html>
