<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>TutorConnect : Settings</title>
    <%= stylesheet_link_tag "pre_index_tutor.css" %>
  </head>
  <body>
    <div class = "actions">
    <% if current_user.is_tutor %>
      <%= link_to "Edit Profile", edit_user_path(current_user) %>
      <%= link_to "Homepage", '/dashboard' %>
    <% else %>
      <%= link_to "Edit Profile", edit_user_path(current_user) %>
    <%= link_to "Delete Profile", delete_path(current_user) %>
    <%= link_to "Homepage", '/dashboard' %>
</div>
<% end %>
  </body>
</html>
